body{
    margin: 0px;
}
.lastcontainer{
    background-color: rgb(255, 136, 0);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   margin: 0px;
   gap: 10px;
}
h3{
    font-size: 18px !important;
}
.aboutpas,.textconect,.alinks,.acomp,.titlecont{
    font-weight: bolder !important;
}
.lasth3{
    color: white;
    margin: 0px;
    font-size: 29px !important;
}
.lasttext{
    width: 42%;
}
.fakebutton{
    font-size: 17px;
    font-family: "open sans",sans-serif;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
}
.righttext{
    width: 500px;
    display: flex;
    justify-content: end;
}
.fakebutton:hover{
    background-color: white;
    color: #FC8061 !important;
    transition: 0.3s;
}
.endcontainer{
    background-color: #f1f1f1;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 20px;
}
.rowtitle1{
    width: 400px;
}
li{
    list-style-type: none;
    margin: 10px 0px;
    cursor: pointer;
}
ul{
    padding: 0px !important;
}
.acontac{
    margin-top: -23px;
}
.sitelogo{
display: flex;
padding: 20px 0px !important;
gap: 5px;
}
.lilogos{
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin: 0px;
}
.lilogos:hover{
    background-color: rgb(255, 136, 0);
    transition: 0.3s;
}
.fa-instagram,.fa-twitter,.fa-facebook-f,.fa-linkedin-in,.fa-pinterest-p,.fa-user{
    margin-top: 7px;
}
.byhuman{
    text-align: center;
    padding: 45px 0px;
    color: grey;
}
.namess{
    color: rgb(255, 136, 0) !important;
}
@media screen and (max-width:990px){
    .row1{
        display: block;
        margin-left: 20%;
    }
    .lastcontainer{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .righttext{
        justify-content: center;
    }
    .lasth3{
      text-align: center;
      font-size: 23px !important;
    }
    .lasttext{
        width: 100%;
    }
    .acontac{
        margin-top: 10px;
    }
}
@media screen and (max-width:520px){
    .row1{
        display: block;
        margin-left: 2%;
    }
    .rowtitle1{
        width: 100%;
    }
    .righttext{
        width: 100%;
    }
}
@media screen and (max-width:573px) {
.bac1{
    width: 400px;
}
  .pingvini1{
    width:400px;
  }  
  .toph2{
    width: 400px;
    
  }
.hh1{
    width: 400px;
}

}